@import url("common.css");
@import url("normalize.css");

.container{
    padding-top: 0.5vh;
    padding-right: 15px;
    padding-left: 15px;
}
.card-pic{
    height: 26vh; 
    border-radius: 9px;   
}
.card-img {
    width: 100%;
}
.blog-cards{
    padding-left: 2vw;
    padding-right: 2vw;
}
article.card{
    margin-bottom: 4vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #bcbcc4;
    border-radius: 12px;
}
.side {
    align-self: center;
    padding: 1vw;
    text-align: center;
}
.subs{
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    article.card{
        max-width: 85%;
    }   
    .container{
        display: grid;
        grid-template-columns: 4fr 2fr;
        grid-template-rows: auto auto auto;
    }
    .side{
        grid-column: 2;
        grid-row: 1;         
        border-radius: 30px;
        /* font-size: 1.6vw; */
        /* border: 2px solid blanchedalmond;       */
    }
    .subs{
        grid-column: 2;
        grid-row: 2/span 1;
        margin-bottom: 0;
    }
    #sub-name{
        display: flex;
    }
    .top-posts{
        grid-column: 2;
        grid-row: 3/span 1;
    }
    .main{
        grid-column: 1;
        grid-row: 1/span 3;
    }
}

@media only screen and (min-width: 1440px){    
    .blog-cards {
        justify-content: space-around;
    }        
}

